version: "3.9"

services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: hoops
      POSTGRES_PASSWORD: hoops
      POSTGRES_DB: hoops
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  mongo:
    image: mongo:8
    ports:
      - "27017:27017"
    volumes:
      - mongodata:/data/db

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  backend:
    build:
      context: ../backend
      dockerfile: Dockerfile
    environment:
      POSTGRES_DSN: postgresql+psycopg2://hoops:hoops@postgres:5432/hoops
      MONGO_DSN: mongodb://mongo:27017
      REDIS_URL: redis://redis:6379/0
      ENVIRONMENT: development
      RAPIDAPI_KEY: 6626ea432amsh00d3869219670d1p1f47bajsn0b16a1a9af77
    depends_on:
      - postgres
      - mongo
      - redis
    ports:
      - "8000:8000"

  frontend:
    build:
      context: ../frontend
      dockerfile: Dockerfile
    depends_on:
      - backend
    ports:
      - "3000:80"

volumes:
  pgdata:
  mongodata:

